#External dependencies
dask==0.15.4
distributed==1.19.2
numpy==1.15.0
pytest==3.6.4

#Cape dependencies
git+https://github.com/bloomsburyai/cape-document-manager
git+https://github.com/bloomsburyai/cape-machine-reader
git+https://github.com/bloomsburyai/cape-document-qa